<!-- <router-outlet></router-outlet> -->
<section class="todoapp">
  <header class="header">
    <h1>{{ title }}</h1>
    <input [(ngModel)]="newTodo" (keyup.enter)="addNewTodo()" class="new-todo" [placeholder]="placeholder" autofocus />
  </header>
  <section class="main">
    <input id="toggle-all" class="toggle-all" type="checkbox" (click)="showTodos = !showTodos" />
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list" *ngFor="let todo of todos; index as i">
      <li [ngClass]="{ completed: todo.status, view: !todo.status }" *ngIf="changeDataStatus(todo.status)">
        <div class="view">
          <input class="toggle" type="checkbox" [checked]="todo.status" (change)="todo.status = !todo.status" />
          <label>{{ todo.name }}</label>
          <button class="destroy" (click)="deleteTodo(i)"></button>
        </div>
        <input class="edit" value="編輯" />
      </li>
    </ul>
  </section>
  <app-footer [leftItems]="leftItems" [selectType]="selectType" (changeStatusFromFooterComponent)="changeSelectType($event)">
  </app-footer>
</section>